* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.russpass-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat-float-btn {
  .ant-float-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 32px;
    height: 32px;
    margin-top: -4px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.chat-float-btn {
}
