.tour-space.concern-form-space {
  justify-content: flex-start;
  padding-top: 40px;

  .timeline-container {
    width: 100%;
    overflow: auto;
  }

  .sale-card {
    margin-top: 8px;
  }

  h5 {
    margin-top: 8px;
  }

  .card-list {
    margin-top: 8px;
  }

  .action-button-panel {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }

  .action-button-panel button {
    width: 176px;
    height: 36px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    justify-content: center;

    svg {
      margin-left: 8px;
    }
  }

  .back-to-start-btn {
    margin-top: 8px;
    width: 320px;
    border-radius: 8px;
    height: 36px;
    background-color: #f5f5f5;
  }

  .all-card-list .list-title {
    margin-top: 12px;
  }

  .extra-prompt-text {
    margin-top: 20px;
  }

  .scrollable-window {
    max-height: 700px;
    overflow-y: auto;
  }

  .prev-info-header {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    h5 {
      margin: 0;
    }
  }

  .divider {
    margin-top: 20px;
  }

  .prev-info-tag-container {
    .tag-space span {
      margin-top: 4px;
    }
  }

  .selection-result-header {
    margin-top: 20px;
  }
}
